@import url('https://fonts.googleapis.com/css2?family=Angkor&family=BBH+Sans+Bogle&family=Caprasimo&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Share+Tech&display=swap');
.font-logo{
    font-family: "Lobster Two", sans-serif !important;
}

.font-text{
    font-family: "Share Tech", sans-serif !important;
}